<% header = link_to('All Complaints ', complaints_path) + "&raquo; #{@category.name}".html_safe %>
<%= render 'shared/content_title', title: header %>

<% if @category.complaints.blank? %>
  <p>No complaints yet for this category.</p>
<% else %>
  <% @category.complaints.each do |complaint| %>
    <%= render 'complaints/complaint', complaint: complaint %>
  <% end %>
<% end %>